<nav class="bg-black dark:text-gray-200">
    <div class="max-w-7xl mx-auto px-4 py-2 flex justify-between items-center">
        <a href="/" class="text-3xl font-bold text-white flex items-center justify-center mx-auto">Articles</a>
        <ul class="flex space-x-6">
            <li>
                <a href="/article/create"
                   class="bg-white text-black font-bold py-2 px-4 rounded-md hover:bg-gray-100 focus:outline-none focus:shadow-outline">
                    New Article
                </a>
            </li>

        </ul>
    </div>
</nav>